{{ define "main" }}
<article>
    <h1>Projects</h1>
    <section>
        {{ range .Paginator.Pages }}
            <div class="list-content bg-white">
                <h1>
                    <a href="{{ .Permalink }}">
                        {{ .Title }}
                    </a>
                </h1>
                <div class="listSummary" >
                    {{ .Summary }}
                </div>
            </div>
        {{ end }}
    {{- template "_internal/pagination.html" . -}}
</article>
{{ end }}
